body{
  margin:0;
  padding:0;
  background: #34495e;
}

.box{
  width:300px;
  padding: 10px 20px; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background:#191919;
  text-align:center;
  border-radius: 24px;
  color:white;
}

.box h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;

}


.box input[type="text"], .box input[type="password"]{
  border:0;
  background:none;
  display:block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}

.box input[type="text"]:focus, .box input[type="password"]:focus{
  width: 280px;
  border-color: #2ecc71;
}

.buttons_index{
  border:0;
  background:none;
  display:block;
  text-decoration: none;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}

.buttons_index:focus,.buttons_index:hover{
  width: 280px;
  border-color: #2ecc71;
  background-color: #2ecc71;
  color:black;
}

#youtsapp{
font-family: "Comic Sans MS", cursive, sans-serif;
font-size: 28px;
letter-spacing: 1px;
word-spacing: 0px;
color: #FFFFFF;
font-weight: 700;
text-decoration: none solid rgb(68, 68, 68);
font-style: normal;
font-variant: small-caps;
text-transform: none;
text-align: center;
}

input[type='file']{
  display: none;
}

a{
  cursor: default;
}

.output{
    width: 60vw;
    top: 70px;
    bottom: 2.5em;
    position:fixed;
    overflow-y:hidden;
    overflow-x:hidden;
}

.side_div{
  height: 88%; 
  width: 21%;
  position: fixed;
  top: 0; 
  overflow-y:auto;
}

#main{
  height: 100vh;
  width: 60vw;
  background-color: black;
  margin:0;
}

h1{
    color:white;
}

.class, #messages{
  display: none;
}

#input_message{  
    width:100%;
    height: auto;
    padding-top: 12px;
    resize: none;
    background-color: #191919;
    color:white;
    border-radius: 0px;
    border: none;
    overflow-y: auto;
    overflow: hidden;
    outline: none;
    word-wrap: break-word
}

#input_message:focus{
  border:none;
}

#input_message:first-letter{
  text-transform: capitalize
}

.footer_btn{
  float: right;
  margin: 0.5em;
  height: fit-content;
  background-color: transparent;
  border: 0;
  outline: none;
  color: white;
  transition: 0.25s;
}

.footer_btn:hover{
  transform: scale(1.25);
}

#backButton{  
  float: left;
  background: Transparent;
  border: 0;
  vertical-align: middle;
  height: 50px;
  display: none;
}

#header_chat{
  background-color: #191919;
  color:white;
  display: block;
  overflow: auto;
}

#chats{
  position: fixed;
  overflow-y: auto;
  width: 40vw;
  top: 28px;
  padding: 0;
  margin: 0;
}

.chat{
  display: table;
  width: 60vw;
}

.chat_name{ 
  padding-left: 3px;
  text-align: left; 
  margin-bottom: 0;
  margin-top: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.iconlink{
    border:none;
    outline: none;
    color:white;
    cursor: pointer; 
}

.iconbtn {
  background-color: transparent; 
  border: none; 
  color: white; 
  padding: 2px 2px; 
  cursor: pointer; 
}

.header_chats{ 
  width: 40vw;
  position: fixed;
  top: 0; 
  display: flex;
  justify-content: space-between;
}

.footer_chats{  
  background-color: #333333;
  width: 40vw;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}

.message_value{  
  margin:0;
}

li{
  margin: 10px 0;
}

.right {
  position: relative;
  background: #4ba38a;
  text-align: left;
  padding: 5px 10px;
  border-radius: 6px;
  float: right;
  right: 20px;
  max-width: 25vw;
  word-wrap: break-word
}

.right::before {
  content: '';
  position: absolute;
  visibility: visible;
  top: -1px;
  right: -10px;
}

.right::after {
  content: '';
  position: absolute;
  visibility: visible;
  top: 0px;
  right: -8px;
  border: 10px solid transparent;
  border-top: 10px solid #4ba38a;
  clear: both;
}

.left {
  position: relative;
  background: #12828c;
  text-align: left;
  padding: 5px 10px;
  border-radius: 6px;
  float: left;
  left: 20px;
  max-width: 25vw;
  word-wrap: break-word
}

.left::before {
  content: '';
  position: absolute;
  visibility: visible;
  top: -1px;
  left: -10px;
  border: 10px solid transparent;
}

.left::after {
  content: '';
  position: absolute;
  visibility: visible;
  bottom: -7px;
  left: -8px;
  border: 10px solid transparent;
  border-top: 10px solid #12828c;
  clear: both;
}

.iconbtn{
  text-decoration: none;
}

button.select_chat{
    border:0;
    background-color:#333333;
    padding: 5px 0px 5px 0px;
    text-align: center;
    outline: none;
    color: white;
    transition: 0.25s;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

td.select_chat :hover{
  background-color: #39393a;
}


.propic_from_list{
  width: 50px;
  height: 50px;
  max-width:100%;
  max-height:100%;
  background-size: cover;
  object-fit:cover;
  border-radius:50%;
  background-position: center center;
  background-repeat: no-repeat;
  float: left;
  border: solid 2.5px #333333;
}

.propic_from_chat{
  width: 35px;
  height: 35px;
  max-width:100%;
  max-height:100%;
  background-size: cover;
  object-fit:cover;
  border-radius:50%;
  background-position: center center;
  background-repeat: no-repeat;
  float: left;
  border: solid 2.5px #000000;
}
#profile_image{
  border-color: #191919;
}
.time_preview{
  font-size: 12px;
  color: #c5c4c4;
  float: right;
}

td#profile_table{
  text-align: center;
}

.mess_preview{
  float: left;
  text-align: left;
  margin-left: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 9vw;
}

.send_form{
    position: fixed;
    right: 0;
    bottom:0;
    height: 2.5em;
    width: 60vw;
    background-color: #191919;
}

.print_text{
  position: fixed;
  top: 50%;
  left: 50%;
  background-color:#192735de;
  border-radius: 24px;
  color:white;
  padding: 2px 8px;
  display: inline-block;
}

.print_date{
  background-color:#192735de;
  border-radius: 24px;
  color:white;
  padding: 2px 8px;
  display: inline-block;
}

#main_div{
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: #333333;
  margin:0;
}

.youtsapp {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 21px;
  letter-spacing: 1px;
  word-spacing: 0px;
  color: #FFFFFF;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: small-caps;
  text-transform: none;
  text-align: center;
  margin: 0;
  display: inline-block;
}

.time-left{
  font-size:0.8em;
  color: #162736;
}

.time-right{
  font-size:0.8em;
  color: #162736;
}

.message_source{
  margin:0;
}

ul {
  list-style-type: none;
}

#propic{  
  width: 50px;
  height: 50px;
  background-size: cover;
  object-fit:cover;
  border-radius:50%;
  background-position: center center;
  background-repeat: no-repeat;
  float: left;
  border:solid 2.5px #191919;
}

#nickname{
  margin:1ch;
  text-align: center;
}
#log{
  margin:1ch;
  margin-bottom: 0;
  text-align: center;
}
#menu_laterale{
  height: 100vh;
}


#backButton{
  display: none;
}

tr#messages{
  display: table;
}

.overlay_menu{
  width: 300px;
  padding: 14px 10px;
  top: 14%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  background: #52aca0;
  text-align: center;
  border-radius: 20px;
  color: black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35vh;
}

.overlay_menu h1{
  background-color: #52aca0;
  color: black
}

.overlay_menu input{  
  background:#80f2e9;
  border-radius: 20px;
  border-color: #2ecc71;
  outline: none;
  width: 270px;
}

.overlay_menu input[type='submit']{
  width: 80px;
}

.right_main_div{
  display: block;
  right: 0;
  position: absolute;
}

.button__badge {
  background-color: #fa3e3e;
  border-radius: 50%;
  color: white;
 
  padding: 1px 3px;
  font-size: 10px;
}

@media screen  and (max-width: 704px) {
  .right_main_div{
    display: none;
  }

  .right{
    max-width: 60vw;
  }

  .left{
    max-width: 60vw;
  }
  
  #footer_form{
    width: 100vw;
    margin-bottom: 1px;
  }

  #left_main_div{
    width: 100vw;
  }
  
  #header_chats{
    width: 100vw;
  }

  .mess_preview{
    width: 80vw;
  }

  #chats{
    width: 100vw;
  }

  #footer_chats{
    width: 100vw;
  }
  
  .output{
    width: 100vw;
  }
  #main{
    width:100vw;
  }
  
  #backButton{
    display:block;
  }
}

.overlay{
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
}

.menu_overlay{    
  width: 300px;
  padding: 14px 10px;
  position: relative;
  background:#52aca0;
  text-align:center;
  border-radius: 20px;
  color:black;
  margin-left: auto;
  margin-right:auto;
  margin-top: 35vh;
}

.menu_overlay input{
  background:#80f2e9;
  border-radius: 20px;
  border-color: #2ecc71;
  outline: none;
  width: 80px;
}

.menu_overlay input[type='submit']{
  outline: none;
  width: 70px;
}

.menu_overlay option,select{
  background-color: #52aca0;
}


.menu_overlay .link{
  float: none;
}

.menu_overlay textarea{
  background-color: #81b4ad;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
 }
 ::-webkit-scrollbar-thumb {
  background: #bdbdbd21;
  border-radius: 15px;
 }
 ::-webkit-scrollbar-thumb:hover{
  background: #ebe8e82f;
 }
 ::-webkit-scrollbar-track{
  background: #ffffff21;
  border-radius: 15px;
 }
